@import '../css/variables';
.Container{

}
.Header{
  height:100px;
  background-color: $baseColor;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  opacity: .9;

  .logo{
    width: 80px;
    height: 80px;
    margin-left: 6%;
  };

  .mainMenu{
    justify-content: space-around;
    width: 50%;

  };

  .rightMenu{
    margin-right: 6%;
    justify-content: space-around;
    justify-items: end;
    width:35%
  }

  .navLink{
    font-size: 1.2em;
    opacity: .8;
  }

}