@import "../css/variables";
.Container{
  @include paper-style();
  background-color: $baseColor;
  .Map{
    position:relative;

    & .Pin{
      position: absolute;
      background-image: url("https://www.kindpng.com/picc/m/108-1084630_icon-contact-flat-free-picture-location-icon-png.png");
      background-position: center;
      background-repeat: no-repeat;
      background-color: white;
      z-index: 99;
    }
  }

  .Place{
    position: absolute;
  }

}