@import "../css/variables";
.Container{
  @include flex-display(row,space-between,flex-start);
  @include paper-style;
  padding: 10px;

  .Title{
    color: #EC8509;
    font-size: 2em;
    margin: 10px 10px 10px 10px;
  }
  .Body{
    color: #ffffff;
    margin: 10px;
  }
  .Image{
    object-fit: cover;
    @include radial-mask(20%,72%);
    margin: 10px 30px 10px 30px;
    mix-blend-mode: lighten;
  }

}