@import "../css/variables";
.Footer{
  @include flex-display(column,center,center);
  background-color: #181818;
  color: rgba(255, 255, 255, 0.53);
  width: 100%;
  padding-top: 12px;
  .BodyContainer{
    @include flex-display(row,space-between,center);
    width: 80%;
  }
  .Join{
    h3{
      color: $orangeColor;
    }
  }
  .Subscribe{
    width: 40%;
    @include flex-display(row,space-around,center);
    input{
      width: 66%;
    }
  }
  .Social{
    width: 8%;
    @include flex-display(row,space-between,center);
  }
}